{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-25">
    <form action="{{ request.url_for('auth_login') }}" method="POST">
      E-mail
      <input
        type="text"
        name="email"
        class="form-control"
        placeholder="..."
      /><br />
      Password
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="..."
      /><br />
      {% if error %}
        <div class="alert alert-danger mt-03 mb-03" role="alert">
          {{ error }}
        </div>
      {% endif %}
      <div class="d-flex justify-content-center align-items-center w-100">
        <button type="submit" class="btn btn-primary w-50">Login</button>
      </div>
    </form>
    <div class="d-flex justify-content-center align-items-center w-100">
      <a href="{{ request.url_for('register') }}" class="btn btn-secondary w-50">Create Account</a>
    </div>
  </div>
</div>

{% endblock %}
