{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-25">
    <form action="{{ request.url_for('auth_register') }}" method="POST">
      Full Name
      <input
        type="text"
        name="name"
        class="form-control mt-1"
        placeholder="..."
      /><br />
      E-mail
      <input
        type="text"
        name="email"
        class="form-control mt-1"
        placeholder="..."
      /><br />
      Password
      <input
        type="password"
        name="password"
        class="form-control mt-1"
        placeholder="..."
      /><br />
      Confirm your password
      <input
        type="password"
        name="confirm_password"
        class="form-control mt-1"
        placeholder="..."
      /><br />
      {% if msg %}
        <div class="alert alert-danger mt-03 mb-03" role="alert">
          {{ msg }}
        </div>
      {% endif %}
      <div class="d-flex justify-content-center align-items-center w-100">
        <button type="submit" class="btn btn-primary w-50">Register</button>
      </div>
    </form>
    <div class="d-flex justify-content-center align-items-center w-100">
      <a href="{{ request.url_for('login') }}" class="btn btn-secondary w-50">Cancel</a>
    </div>
  </div>
</div>

{% endblock %}
